nav{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;

.navbar{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ul{
        display: flex;
        gap: 30px;
        color: rgba(149, 144, 144, 0.744);
        :hover {
            cursor: pointer;
            color: black;
        }
    }
}
}